body {
  /* background: linear-gradient(
    109.6deg,
    rgb(156, 252, 248) 11.2%,
    rgb(110, 123, 251) 91.1%
  ); */
  font-family: "Bree Serif", serif;
}

h1 {
  color: rgba(19, 7, 98, 0.87);
  font-size: 32px;
  font-weight: 100px;
  line-height: 40px;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-family: "Times New Roman", Times, serif;
  color: rgba(19, 7, 98, 0.87);
  list-style: none;
  font-size: 18px;
  font-weight: 100px;
  height: 19px;
  line-height: 1;

  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 60px auto;
}

.weather-app {
  display: block;
  box-sizing: border-box;
  border: 1px solid #86b7fe;
  border-radius: 10px;
  padding: 40px;
  padding-right: 2px;
}

.overview {
  margin-bottom: 20px;
  color: rgba(19, 7, 98, 0.87);
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  margin: 0;
  font-size: 64px;
  font-weight: 200px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgba(19, 7, 98, 0.87);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgba(19, 7, 98, 0.87);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
